language: julia
os:
- linux
julia:
- 1.0
notifications:
  email: false
git:
  depth: 99999999
cache:
  timeout: 1000
  directories:
  - downloads
env:
  global:
  - BINARYBUILDER_DOWNLOADS_CACHE=downloads
  - BINARYBUILDER_AUTOMATIC_APPLE=true
sudo: required

before_script:
- julia --color=yes -e 'using Pkg; pkg"add BinaryBuilder"; pkg"precompile"'

script:
- julia --color=yes build_tarballs.jl --verbose

deploy:
  provider: releases
  api_key:
    secure: HgUXg/HUuJYlmdNY6p8XMw4BHF/gSh7s9z7+DXhl3WNu296DIkIS4w+DfGFGoqFQRKM7P6TVmaUIQBJDiWqE4YTUATub0gQytYIEJqj3mk/bltKbUgg82KRFPdzQBILbVyADPiTIvzqWGxdBANulOExE01XHdsPu/pv7Tv6EqjCkO4RJERA4leGSvkP2x9H5PkE9O3nKr/AYxPybasnr/Sp3TxWdXa8JArqVZDtfhC0PxbBDq65q9fd/RGt0F8s3ZiUPFbLc5XvdlAs41Fp039DyIj2qKIl3FUzCC9As6M/khozKmUMUzYU/Dsjg0TvSWRVzmwdZRO7dRlQoJxrwfWDg5fe9KaG7taz4pls1lKCBx8quRJPm7hHgpYA6fS0UOqQb3hLiXIhd9f/bkkonDeRYKTwm+wG6iA8t2ZzvhQz30JhVD6QCJ1v/+VQ3khmiJPkAKLkgOYfderU6NpfMqhHUrCl7KV9BDJUJayR4sFxRSba/QhGLCmqvAEiSDkObEOGQVGQDhUfW8CsPIDNeHlLg8q0So7TEqbADBTw2vh5FbC7gxOVE/ZxgNS61r4ivIhN9QfDB9QvpLYACORjJubORlFfd6wcovDTiyLVzXJvlt7Pf2oBMCJOMZCCOVljDS1IHS8TeJFapNkIxoe9VG7RQB4y6gRZciQJY9q7l/I0=
  file_glob: true
  file: products/*
  skip_cleanup: true
  on:
    repo: wookay/H3Builder
    tags: true
